DatingApp.API/obj/.gitignore
DatingApp.API/obj/project.assets.json
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/project.assets.json
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/datingapp.db
DatingApp.API/.vs/DatingApp.API/DesignTimeBuild/.dtbcache
DatingApp.API/.vs/DatingApp.API/v16/.suo
DatingApp.API/.vs/DatingApp.API/v16/Server/sqlite3/db.lock
DatingApp.API/.vs/DatingApp.API/v16/Server/sqlite3/storage.ide
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/bin/Debug/netcoreapp3.0/DatingApp.API.pdb
DatingApp.API/obj/project.assets.json
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csproj.FileListAbsolute.txt
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.csprojAssemblyReference.cache
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.dll
DatingApp.API/obj/Debug/netcoreapp3.0/DatingApp.API.pdb
